<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
    <div>
        {{name}}
    </div>
    <div>
        <form action="update" method="get">
            {%csrf_token%}
            Enter employee name : <input type="text" name="empname"><br>
            Enter employee salary : <input type="text" name="empsal"><br>
            Enter employee age : <input type="text" name="empage"><br>
            <input type="submit">
        </form>
        {{temp}}
    </div>

</body>
</html>